<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

.text-center{
         color: #fff;
        }

.lead{
         color: #fff;
         font-size: 16px;
        }
.scrollbar{
        height: 480px;
        overflow-y: scroll;
        margin-bottom: 5px;
    }

    #style-2::-webkit-scrollbar-track{
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
        border-radius: 10px;
        background-color: #dddddb00;
    }

    #style-2::-webkit-scrollbar{
        width: 7px;
        background-color: #dddddb00;
    }

    #style-2::-webkit-scrollbar-thumb{
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #396cabb8;
    }                
</style>

{% extends 'pollster/base.html' %}
{% block content %}
    <h1 class="text-center"> Poll Question</h1>
    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <div class="class-mb-3 ">
                <div class="card-body">
                    <p class="lead"><b>{{question.question}}</b></p>
                    <a href="{% url 'pollster:detail' question.id %}" class="btn btn-primary
                    btn-sm">Vote now</a>
                    <a href="{% url 'pollster:results' question.id %}" class="btn btn-primary
                    btn-sm">Results</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p> No polls available </p>
    {% endif %}                    


{% endblock %}    